* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    /* width: 100%; */
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    align-items: center;
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    /* justify-content: center; */
    /* padding: 0 10rem; */
    /* width: 100%; */
}

/* #primary-header {
    padding: 0 10rem;
} */

a {
    color: currentColor;
    cursor: pointer;
    text-decoration: none;
}

#root {
    align-items: center;
    display: flex;
    flex: auto;
    flex-direction: column;
    /* justify-content: center; */
    /* width: calc(100vw - 20rem); */
    /* margin: 0 10rem; */
    /* min-width: 600px; */
    /* max-width: 60rem; */
    max-width: 100%;
}

/* .padder {
    padding: 0 10rem;
} */

.overlayed-background {
    display: flex;
    justify-content: center;
    width: 100vw;
}

#primary-header-background {
    background-color: #1F2937;
}

.page-padding {
    flex: 0 1 95vw;
    max-width: 60rem;
}

.page-padding-column {
    flex: 0 1 95vh;
    max-height: 60rem;
}

.nav-menu {
    align-items: center;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1rem;
    justify-content: flex-end;
    list-style-type: none;
    /* margin: 0;
    padding: 0; */
}

ul.nav-menu li {
    /* flex: none; */
    padding: 0.8rem 0;
}

.nav-menu .logo-text {
    color: #F9FAF8;
    font-size: 1.5rem;
    /* font-size: 24px; */
    font-weight: bold;
    margin-right: auto;
}

.primary-header-common-text {
    color: #E5E7EB;
    font-size: 1.125rem;
    /* font-size: 18px; */
}

#billboard-content {
    display: flex;
    flex: 1;
    gap: 3rem;
    margin: 6rem 0;
}

#billboard-content-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
}

/* #billboard-content-text * {
    flex: auto;
} */

#billboard-title {
    color: #F9FAF8; /* .logo-text */
    font-size: 3rem;
    font-weight: bold;
}

.singup-button {
    border: none;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    /* flex: none; */
    /* height: 2rem; */
    /* margin-bottom: auto; */
    padding: 0.6rem 2rem;
    width: fit-content;
}

.billboard-singup-button {
    background-color: #3882F6;
    color: white;
}

#billboard-img {
    background-color: #6d747e;
    /* flex: none; */
    height: auto;
    width: 30rem;
}

.info-blocks-content {
    align-items: center;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-inline: auto;
    max-width: 60rem;
}

.info-blocks-title {
    font-size: 2.25rem;
    /* font-size: 36px; */
    margin: 2rem 0;
}

.info-blocks-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info-block {
    flex: none;
    text-align: center;
    width: 10rem;
}

.info-block-img {
    border: 0.3rem solid #3882F6;
    border-radius: 1rem;
    height: 10rem;
    width: 10rem;
}

.info-block-text {
    width: 100%;
}

.quote-content-background {
    background-color: #E5E7EB;
}

.quote-content {
    color: #1F2937;
    display: flex;
    flex-direction: column;
    /* height: 20rem; */
    justify-content: center;
    padding: 6rem 0.5rem;
}

.quote-text {
    font-size: 2.25rem;
    /* font-size: 36px; */
    font-style: italic;
    /* font-weight: 0; */
}

.quote-author {
    text-align: end;
    font-weight: bold;
}

.signup-invite-content {
    background-color: #3882F6;
    border-radius: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    margin-top: 7rem;
    max-width: 60rem;
    padding: 2rem 7rem;
}

.singnup-invite-button {
    background-color: #3882F6;
    border: white solid 0.15rem;
    color: white;
}

@media(max-width: 50rem){
    /* body {
        padding: 0 4rem;
    } */

    .padder {
        padding: 0;
    }

    /* .nav-menu {
        flex-direction: column;
    } */

    #billboard-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .info-blocks-group {
        align-items: center;
        flex-direction: column;
        gap: 2.5rem;
    }
}