* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box; 
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
}

#primary-header {
    padding: 0 10rem;
}

a {
    color: currentColor;
    text-decoration: none;
}

#primary-header {
    background-color: #1F2937;
}

.nav-menu {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.nav-menu li {
    padding: 0.8rem 0;
}

.nav-menu .logo-text {
    color: #F9FAF8;
    font-size: 1.5rem;
    /* font-size: 24px; */
    font-weight: bold;
    margin-right: auto;
}

.primary-header-common-text {
    color: #E5E7EB;
    font-size: 1.125rem;
    /* font-size: 18px; */
}

#billboard-content {
    display: flex;
    gap: 3rem;
    margin: 6rem 0;
}

#billboard-content-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#billboard-title {
    color: #F9FAF8; /* .logo-text */
    font-size: 3rem;
    font-weight: bold;
}

button.singup-button {
    border: none;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    flex: none;
    padding: 0.6rem 2rem;
    width: fit-content;
}

button.billboard-singup-button {
    background-color: #3882F6;
    color: white;
}

#billboard-img {
    background-color: #6d747e;
    height: 15rem;
    width: 60rem;
}